{% set titulo = [] %}
{% set productos = [] %}

{% for item in servicios %}
    {% if item.content_alias == 'tituloinf' %}
        {% set titulo = titulo|merge([item]) %}
    {% endif %}
    {% if item.content_alias == 'servicios' %}
        {% set productos = productos|merge([item]) %}
    {% endif %}
{% endfor %}

{# Configuración de productos #}
{% set product_config = [
    {
        'index': 0,
        'icon': 'fa-solid fa-laptop',
        'name': productos[0].content_name ?? 'Reporte Básico',
        'description': productos[0].content_caption ?? 'Descripción del reporte básico',
        'modal_description': productos[0].content_description ?? '',
        'button_text': 'Adquirir reporte',
        'price': 'Gratis',
        'ribbon': '',
        'modal_icon': 'fa-regular fa-envelope'
    },
    {
        'index': 1,
        'icon': 'fa-solid fa-laptop',
        'name': productos[1].content_name ?? 'Reporte Detallado',
        'description': 'Contiene los resultados del reporte de datos con la metodología. Asi mismo, se incluye 1 hora adicional de consultoría.',
        'modal_description': productos[1].content_description ?? '',
        'button_text': 'Adquirir reporte',
        'price': 'S/ 299.00',
        'ribbon': null,
        'modal_icon': 'fa-solid fa-bolt'
    },
    {
        'index': 2,
        'icon': 'fa-solid fa-laptop',
        'name': productos[2].content_name ?? 'Consultoría Especializada',
        'description': 'Continue los resultados de la estimación del costo de capital de la empresa más el del sector y del mercado desarrollado',
        'modal_description': productos[2].content_description ?? '',
        'button_text': 'Adquirir consultoría',
        'price': 'S/ 150.00 / hora',
        'ribbon': null,
        'modal_icon': 'fa-sharp fa-solid fa-chart-simple'
    }
] %}

<!--begin::Team Section-->
<div class="bs-landing-section bs-section-1" id="productos">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Heading-->
        <div class="col-lg-12 bs-section-header">
            <!--begin::Title-->
            <div class="bs-section-title">{{titulo[0].content_name}}</div>
            <!--end::Title-->
            <!--begin::Sub-title-->
            <div class="bs-section-text">{{titulo[0].content_caption}}</div>
            <!--end::Sub-title=-->
        </div>
        <!--end::Heading-->
        <!--begin::Slider-->
        <div class="tns tns-default" style="direction: ltr">
            <!--begin::Wrapper-->
            <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-items="1" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev" data-tns-next-button="#kt_team_slider_next" data-tns-responsive="{1200: {items: 3}, 992: {items: 2}}">
                
                {% for product in product_config %}
                <div class="card bs-card-2">
                    <div class="card-body">
                        {% if product.ribbon %}
                            <div class="bs-card-ribbon">{{ product.ribbon }}</div>
                        {% endif %}
                        <div class="bs-card-image">
                            <i class="{{ product.icon }}"></i>
                        </div>
                        <div class="bs-card-title">{{ product.name }}</div>
                        <div class="bs-card-text">
                            {{ product.description }}
                        </div>
                    </div>
                    <div class="card-footer border-0">
                        <div class="d-flex flex-column gap-2">
                            <button type="button" class="btn btn-light-primary" data-bs-toggle="modal" data-bs-target="#kt_product_modal_{{ product.index + 1 }}">
                                {{ product.button_text }} <i class="fa-solid fa-chevron-right ms-2"></i>
                            </button>
                            <div class="text-center">
                                <span class="fs-4 fw-bold text-primary">{{ product.price }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <!--end::Wrapper-->
            <!--begin::Button-->
            <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev">
                <!--begin::Svg Icon | path: icons/duotune/arrows/arr074.svg-->
                <span class="svg-icon svg-icon-3x">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </button>
            <!--end::Button-->
            <!--begin::Button-->
            <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next">
                <!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
                <span class="svg-icon svg-icon-3x">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </button>
            <!--end::Button-->
        </div>
        <!--end::Slider-->
        <div class="col-lg-12 text-center pt-10">
            <a href="#kt_body" type="button" class="btn btn-primary px-20">Empezar <i class="fa-solid fa-arrow-right ms-2"></i></a>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Team Section-->

{# Modales generados dinámicamente #}
{% for product in product_config %}
<div class="modal fade" tabindex="-1" id="kt_product_modal_{{ product.index + 1 }}">
    <div class="modal-dialog modal-md">
        <div class="modal-content bs-modal-1">
            <div class="modal-header">
                <h3 class="modal-title">{{ product.name }}</h3>
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-info ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="{{ product.modal_icon }} text-info fs-3"></i>
                </div>
                <!--end::Close-->
            </div>
            <div class="modal-body">
                <p class="bs-modal-text">{{ product.modal_description|raw }}</p>
                {% if product.index == 0 %}
                    <p><span class="badge badge-light-info fs-4">Free</span></p>
                {% else %}
                    <div class="text-center mt-3">
                        <span class="fs-3 fw-bold text-primary">{{ product.price }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}